@import "../../../../../../assets/CSS/about/info-css/fixed.css";

.system-message ol,.system-message ul{
    margin-right: 20px;
}
.system-message ol li,.system-message ul li{
    margin-bottom: 8px;
}
@media (max-width: 991px) { 
    .system-message .message-title h2::after{
        top: 70px;
    }
}
@media (max-width: 376px) { 
    .system-message .message-title h2::after{
        top: 90px;
    }
}