<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top" style="background-image: url(../../../../../../assets/photo/Employee-Benefits.jpeg);">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">الشئون الاكاديمية</a></li>
                <li class="breadcrumb-item"><a routerLink="/academic-affairs/electronic-services">الخدمات الألكترونية</a></li>
                <li class="breadcrumb-item"><a routerLink="/academic-affairs/electronic-service/services-of-faculty"> خدمات أعضاء هيئة التدريس والهيئة المعاونة </a></li>
                <li class="breadcrumb-item"><a routerLink="/academic-affairs/electronic-service/Departments/employee-welfare-department"> إدارة رعاية العاملين </a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical faculty president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                إدارة رعاية العاملين
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <div class="h6"><strong>الاختصاصات الرئيسية : -</strong></div>
            <ul>
                <li>إنشاء دور الحضانة لأطفال العاملين بالوحدة وتجهيزها وتزويدها بالمشرفين والعاملين اللازمين لإداراتها وتشغيلها .</li>
                <li>العمل على إنشاء الجمعيات التعاونية والاستهلاكية في مكان العمل وذلك بالتعاون مع الجهات المختصة بالدولة .</li>
                <li>العمل على توفير وسائل انتقال العاملين من وإلى مقر العمل .</li>
                <li>العمل على توفير وتطوير نظم العلاج الطبي للعاملين أسرهم وفقاً للتخطيط الذي يوضع بكل وحدة .</li>
                <li>نشر النشاط الرياضي بين العاملين وتكوين الفرق الرياضية وتزويدها بالمدربين والمشرفين وتنظيم الاشتراك والمسابقات الرياضية .</li>
                <li>تيسير اشتراك العاملين في النوادي الرياضية والثقافية والجمعيات المهنية واتفاق مع هذه الجهات .</li>
                <li>تنظيم الندوات الثقافية وإقامة المسابقات الثقافية بين العاملين بالجهة وزيادة التشجيع على الإنتاج الثقافي والإداري بينهم .</li>
                <li>إقامة وتنظيم المصايف للعاملين في الوحدة وتنظيم اشتراك العاملين منها بأجور مخفضة .</li>
                <li>تنظيم الرحلات الجماعية والترفيهية للعاملين وأسرهم في العطلات والاجازات .</li>
                <li>تيسير زيارة المتاحف والآثار ومعالم البلاد المختلفة للعاملين بالجهة وتعريفهم بأوجه التطور والتقدم في المجالات الاجتماعية والصناعية والزراعية وغيرها .</li>
                <li>العمل على إنشاء نادي خاص للعاملين بالوحدات وتجهيزه بوسائل الترفيه والتسلية للعاملين أسرهم في أوقات فراغهم .</li>
                <li>تيسير دخول العاملين لدور المسارح التابعة للقطاع العام عن طريق الحصول على تخفيضات جماعية للعاملين بالوحدة لمتابعة حركة الإنتاج المسرحي والفنون الشعبية للبلاد .</li>
                <li>تنظيم المشاركة الرمزية للعاملين في المناسبات المختلفة سواء الافراح او المرض أو تقديم العزاء .</li>
                <li>تشجيع اشتراك العاملين في الجمعيات التعاونية للإسكان أو إنشاء جمعية تعاونية خاصة بهم ومعاونتهم في مراحل التأسيس والإشهار وتيسير سبل الاتصالات وحصولهم على الخدمات في مختلف الجهات الحكومية المختصة .</li>
                <li>تشجيع العاملين على تكوين صناديق وجمعيات التكافل الاجتماعي في مختلف المجالات ودفع مبادرات العاملين وتأسيس هذه الصناديق والجمعيات ودعم نشاطها وتنظيم التعاون معها</li>
            </ul>
        </div>

    </div>
</div>

<!-- end section artical faculty president -->

<div class="clear"></div>

<!-- start section faculty social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section faculty social media  -->


<app-scroll></app-scroll>

<app-footer></app-footer>
