@import "../../../../../assets/CSS/about/info-css/fixed.css";

.system-message .contain-message ul{
    list-style: none;
}

.system-message .contain-message ul li{
    margin-bottom: 8px;
    text-align: right;
}

.system-message .contain-message ul li a{
    color: #3f51b5;
}