<!-- start footer -->
<footer class="footer">
    <div class="container">
        <div class="footer-con">
            <div class="row">
                <div class="col-md-4">
                    <div class="contant-inner">
                        <i class="fas fa-map-marker-alt ic_color"></i>
                        <h2>العنوان</h2>
                        <p>جمهــورية مصــر العــــربية - الأقصــــر - <br> العـــواميــة </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contant-inner">
                        <i class="fas fa-phone-alt ic_color"></i>
                        <h2>رقم االهاتف</h2>
                        <p>Fax: ( 002 ) (095) 2287241</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contant-inner">
                        <i class="far fa-envelope ic_color"></i>
                        <h2>البريد الالكتروني</h2>
                        <p>Email:<a href="#">info@fci.luxor.edu.eg</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-top">
            <div class="row">
                <div class="col-sm-9 col-md-9 col-lg-4">
                    <div class="about">
                        <div class="images">
                            <img src="../../../assets/photo/logo.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-2">
                    <div class="about">
                        <h5>عن الكلية</h5>
                        <div class="title">
                            <ul class="cato">
                              <li><i class="fa fa-angle-right i_right"></i><a href="#"> عن الكلية</a></li>
                              <li><i class="fa fa-angle-right i_right"></i><a href="#"> كلمة العميد</a></li>
                                <li><i class="fa fa-angle-right i_right"></i><a href="#">رؤية الكلية </a></li>
                                <li><i class="fa fa-angle-right i_right"></i><a href="#"> رسالة الكلية</a></li>
                             </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-share">
            <ul>
                <li>
                    <a href="https://www.linkedin.com/" target="_blank">
                        <i class="fab fa-linkedin fa-lg"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/" target="_blank">
                        <i class="fab fa-youtube fa-lg"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.pinterest.com/" target="_blank">
                        <i class="fab fa-pinterest fa-lg"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank">
                        <i class="fab fa-instagram fa-lg"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/" target="_blank">
                        <i class="fab fa-twitter fa-lg"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/" target="_blank">
                        <i class="fab fa-facebook fa-lg"></i>
                    </a>
                </li>
            </ul>
        </div>
        <hr>
        <div class="footer-button">
            <div class="copyright">
                <p> جميع الحقوق محفوظة - جامعة الأقصر2021 &copy;</p>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
