<app-header></app-header>

<!-- start section breadcrumb -->

<div class="breadcrumb-top" style="background-image: url(../../../../assets/photo/blogpost-webconferencingtips-1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">عن الجامعة</a></li>
                <li class="breadcrumb-item"><a routerLink="/about/connect"> بيانات الاتصال</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical faculty president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                تواصل مع جامعة الاقصر
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <ul class="lists">
                <li id="first" class="active">جهة الاتصال</li>
                <li id="seconde">نموزج الاتصال</li>
            </ul>
            <div class="display" id="first-div">
                <table>
                    <tbody>
                        <tr>
                            <td class="fir">العنوان</td>
                            <td class="last">جمهــورية مصــر العــــربية - الأقصــــر - العـــواميــة - مــبنى إدارة الجامعــــة</td>
                        </tr>
                        <tr>
                            <td class="fir">الرقم البريدي</td>
                            <td class="last">
                                47362 <br>
                                <a href="mailto:president@mans.edu.eg">president@mans.edu.eg</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fir">رقم االهاتف</td>
                            <td class="last">( 002 ) 095-2287245 &nbsp;&nbsp;&nbsp;  /  &nbsp;&nbsp;&nbsp; ( 002 ) 095-2287245</td>
                        </tr>
                        <tr>
                            <td class="fir">عنوان صفحة الانترنت</td>
                            <td class="last">
                                <a href="https://ahmedmansour872.github.io/final-project/">info@Luxor.edu.eg</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="seconde-div" class="hide">
                <form>
                    <div class="form-group">
                        <label for="staticEmail" >الاسم *</label>
                        <input type="text"  class="form-control" placeholder="من فضلك ادخل الاسم" required>
                    </div>
                    <div class="form-group">
                        <label for="staticEmail" >البريد الالكتروني * </label>
                        <input type="email" class="form-control" placeholder="من فضلك ادخل الايميل" required>
                    </div>
                    <div class="form-group">
                        <label for="staticEmail">الموضوع *</label>
                        <input type="text" class="form-control" placeholder="من فضلك ادخل الموضوع" required>
                    </div>
                    <div class="form-group">
                        <label for="staticEmail" >الرسالة *</label>
                        <textarea name="" id="" cols="30" rows="10"  class="form-control" placeholder="من فضلك ادخل الرسالة"></textarea>
                    </div>
                    <input class="btn btn-danger" style="margin-top: 20px;" type="submit" value="ارسال البريد الالكترةني">
                </form>
            </div>
        </div>

    </div>
</div>

<!-- end section artical faculty president -->

<!-- start section faculty social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section faculty social media  -->

<div class="container">
    <div class="driv"></div>
</div>


<div class="convert-page">
    <div class="container">
        <ul>
            <li>
                <a routerLink="/about/ask-faculty-president"><i class="fas fa-arrow-right"></i>التالي</a>
            </li>
            <li>
                <a routerLink="/about/conferences">السابق<i class="fas fa-arrow-left"></i></a>
            </li>
        </ul>
    </div>
</div>


<app-scroll></app-scroll>

<app-footer></app-footer>

