<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top" style="background-image: url(../../../../../../assets/photo/photo.png);">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">الشئون الاكاديمية</a></li>
                <li class="breadcrumb-item"><a routerLink="/academic-affairs/electronic-services">الخدمات الألكترونية</a></li>
                <li class="breadcrumb-item"><a routerLink="/academic-affairs/electronic-service/available-online-services"> الخدمات الإلكترونية - جامعة الاقصر </a></li>
                <li class="breadcrumb-item"><a routerLink="/academic-affairs/electronic-service/electronic-ser/integrity-check">  خدمة فحص النزاهة الاكاديمية للترقي لأعضاء هيئة التدريس </a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical faculty president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                خدمة فحص النزاهة الاكاديمية للترقي لأعضاء هيئة التدريس
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <div class="h6"><strong>أولا: المستندات المطلوبة للترقي لأعضاء هيئة التدريس</strong></div>
            <ol>
                <li> &nbsp;&nbsp;&nbsp; جواب معتمد ومختوم ختم النسر من عميد الكلية التى يتبعها الباحث يفيد بتقدمه للترقية لدرجة أستاذ مساعد أو استاذ. ( <a href="javascript:void(0);">تحميل صيغة الخطاب</a> )</li>
                <li> &nbsp;&nbsp;&nbsp; قائمة الابحاث المتقدم بها للترقية معتمدة ومختوم ختم النسر من عميد الكلية .</li>
                <li> &nbsp;&nbsp;&nbsp; يرسل نسخة من الابحاث الانجليزية فى صيغة "word أو pdf" وللابحاث العربية ترسل نسخة فى صيغة word فقط.</li>
            </ol>

            <div class="h6"><strong>ثانياً: خطوات التقدم للفحص الكترونياً:</strong></div>
            <ol>
                <li> &nbsp;&nbsp;&nbsp; يقوم الباحث بارسال جميع الأوراق المطلوبة على الايميل التالى: ithenticate@eservices.cu.edu.eg</li>
                <li> &nbsp;&nbsp;&nbsp; كتابة البيانات الاتية داخل الايميل:
                    <ul>
                        <li> &nbsp;&nbsp;&nbsp; اسم ورقم اللجنة العلمية.</li>
                        <li> &nbsp;&nbsp;&nbsp; الدرجة المتقدم لها (أستاذ / أستاذ مساعد).</li>
                        <li> &nbsp;&nbsp;&nbsp; رقم الموبايل (للحصول على كود الدفع الإلكتروني).</li>
                        <li> &nbsp;&nbsp;&nbsp; الرقم القومى الخاص بالمتقدم.</li>
                    </ul>
                </li>
                <li> &nbsp;&nbsp;&nbsp; يتم مراجعة الأوراق المرسلة من مركز الخدمات المعرفية الإلكتروني وفى حالة اكتمالها سيتم ارسال كود لدفع الرسوم عن طريق فورى على رقم الموبايل البريد الإلكتروني في خلال يوم عمل.</li>
                <li> &nbsp;&nbsp;&nbsp; يقوم المتقدم باستخدام الكود والدفع في اى مكينة فورى (هذه الخدمة تندرج تحت خدمات @Fawry).</li>
                <li> &nbsp;&nbsp;&nbsp; يقوم المركز بأرسال التقارير الى وحدة المكتبات الرقمية بالمجلس الأعلى للجامعات فى موعد اقصاه خمسة عشر يوم عمل من تاريخ سداد الرسوم.</li>
            </ol>

            <div class="h6"><strong>ملاحظات هامة</strong></div>
            <ul>
                <li> &nbsp;&nbsp;&nbsp; يجب كتابة البيانات المطلوبة بدقة وبوضوح لتجنب تأخير عمليات المراجعة والدفع.</li>
                <li> &nbsp;&nbsp;&nbsp; يجب دفع الرسوم فى خلال 14 يوم من تاريخ استلام كود الدفع .</li>
                <li> &nbsp;&nbsp;&nbsp; فى حالة عدم اكتمال اى من الأوراق المطلوبة أو البيانات، سيتم ايقاف استلام طلب الفحص لحين اكتمالها.</li>
                <li> &nbsp;&nbsp;&nbsp; التاكد من تطابق أسماء الابحاث مع القائمة المرسلة.</li>
                <li> &nbsp;&nbsp;&nbsp; يتم استلام طلبات الفحص من الجامعات الحكومية فقط.</li>
                <li> &nbsp;&nbsp;&nbsp; فى حالة سحب طلب الفحص بعد سداد الرسوم لا يتم استرداد الرسوم المدفوعة.</li>
            </ul>
        </div>

    </div>
</div>

<!-- end section artical faculty president -->

<div class="clear"></div>

<!-- start section faculty social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section faculty social media  -->


<app-scroll></app-scroll>

<app-footer></app-footer>
