@import "../../../../../../assets/CSS/about/info-css/fixed.css";

.system-message .h6{
    margin: 35px 0;
}
.system-message ol,.system-message ul{
    margin-right: 20px;
}
.system-message ol li,.system-message ul li{
    margin-bottom: 8px;
}
.system-message ol li a,.system-message ul li a{
    color: #3f51b5;
}