<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top" style="background-image: url(../../../../../assets/photo/blogpost-webconferencingtips-1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">الشئون الاكاديمية</a></li>
                <li class="breadcrumb-item"><a routerLink="/academic-affairs/postgraduate-program">برامج دراسات العليا</a></li>
                <li class="breadcrumb-item"><a routerLink="/academic-affairs/postgraduate-programs/graduate-studies-handbooks">  دليل الدراسات العليا</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical faculty president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                دليل الدراسات العليا
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <ul>
                <li> &nbsp;&nbsp;&nbsp; الفصل الأول : - <a href="javascript:void(0);">روية عامة والهيكل والإجراءات</a></li>
                <li> &nbsp;&nbsp;&nbsp; الفصل الثاني : - <a href="javascript:void(0);">الكليـــــــــــات</a></li>
                <li> &nbsp;&nbsp;&nbsp; الفصل الثالث : - <a href="javascript:void(0);">المعاهد والتعليم المفتوح</a></li>
                <li> &nbsp;&nbsp;&nbsp; الفصل الرابع : - <a href="javascript:void(0);">مواد قانون تنظيم الجامعات ولائحته التنفيذية الخاصة بالدراسات العليا</a></li>
                <li> &nbsp;&nbsp;&nbsp; الفصل خامس : - <a href="javascript:void(0);">وسائل الإتصال ومصادر المعلومات</a></li>
            </ul>
        </div>

    </div>
</div>

<!-- end section artical faculty president -->

<div class="clear"></div>

<!-- start section faculty social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section faculty social media  -->

<div class="container">
    <div class="driv"></div>
</div>

<div class="convert-page">
    <div class="container">
        <ul>
            <li>
                <a routerLink="/academic-affairs/postgraduate-programs/postgraduate-bylaws"><i class="fas fa-arrow-right"></i>التالي</a>
            </li>
            <li>
                <a routerLink="/academic-affairs/postgraduate-programs/admission-date">السابق<i class="fas fa-arrow-left"></i></a>
            </li>
        </ul>
    </div>
</div>

<app-scroll></app-scroll>

<app-footer></app-footer>
