<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top" style="background-image: url(../../../../assets/photo/pic_31168.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">الشئون الاكاديمية</a></li>
                <li class="breadcrumb-item"><a routerLink="/academic-affairs/electronic-services"> الخدمات الألكترونية </a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical faculty president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                الخدمات الألكترونية
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <div class="h6"><strong>دليل الخدمات الألكترونية للحصول علي الأستمارات والنماذج الخاصة بجميع فئات المجتمع بجامعة الاقصر</strong></div>
            <ol style="margin-right: 20px;">
                <li>&nbsp;&nbsp;&nbsp; <a routerLink="/academic-affairs/electronic-service/services-of-faculty">خدمات أعضاء هيئة التدريس والهيئة المعاونة  </a></li>
                <li>&nbsp;&nbsp;&nbsp; <a href="../../../../assets/files/جمهريه مصر العربية.pdf"target="_blank">خدمات شئون الطلاب </a></li>
                <li>&nbsp;&nbsp;&nbsp; <a routerLink="/academic-affairs/electronic-service/personnel-services">خدمات شئون العاملين </a></li>
                <li>&nbsp;&nbsp;&nbsp; <a routerLink="/academic-affairs/electronic-service/available-online-services">الخدمات الإلكترونية المتاحة</a></li>
            </ol>
        </div>
    </div>
</div>

<!-- end section artical faculty president -->

<div class="clear"></div>

<!-- start section faculty social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section faculty social media  -->

<div class="container">
    <div class="driv"></div>
</div>

<div class="convert-page">
    <div class="container">
        <ul>
            <li>
                <a routerLink="/academic-affairs/colleges"><i class="fas fa-arrow-right"></i>التالي</a>
            </li>
            <li>
                <a routerLink="/academic-affairs/postgraduate-program">السابق<i class="fas fa-arrow-left"></i></a>
            </li>
        </ul>
    </div>
</div>

<app-scroll></app-scroll>

<app-footer></app-footer>
