<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top" style="background-image: url(../../../../../assets/photo/blogpost-webconferencingtips-1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">الشئون الاكاديمية</a></li>
                <li class="breadcrumb-item"><a routerLink="/academic-affairs/postgraduate-program">برامج دراسات العليا</a></li>
                <li class="breadcrumb-item"><a routerLink="/academic-affairs/postgraduate-programs/action-required"> الإجراءات المطلوب إتباعها للطلاب المصريين والوافدين للالتحاق بمرحلة الدراسات العليا</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical faculty president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                الإجراءات المطلوب إتباعها للطلاب المصريين والوافدين للالتحاق بمرحلة الدراسات العليا (دبلوم – ماجستير – دكتوراه )
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <div class="h6"><strong>المستندات المطلوبة للطلاب الوافدين:-</strong></div>
            <p>المؤهل الدراسى الحاصل علية الطالب معادل من المجلس الاعلى للجامعات.</p>
            <p>خطاب ترشيح من سفارة البلد التابع لها الطالب للكلية المراد الدراسة بها موضحا به جهة التمويل والعام الجامعى المراد الدراسة به و الدرجة العلمية وموقع من المستشار الثقافى للسفارة و الخطاب موجه لعميد الكلية.</p>
            <ol>
                <li> &nbsp;&nbsp;&nbsp; جواز السفر سارى الصلاحيه لمدة عام كامل.</li>
                <li> &nbsp;&nbsp;&nbsp; ما يفيد خلو الطالب من مرض الإيدز قبل القيد و التسجيل للدارسين.</li>
                <li> &nbsp;&nbsp;&nbsp; شهادة امتياز لمدة عام كامل بالنسبة للدراسين فى المجال الطبى.</li>
                <li> &nbsp;&nbsp;&nbsp; ملء عدد (3) استمارة بيانات بالكلية.</li>
                <li> &nbsp;&nbsp;&nbsp; ملء عدد (3) استمارة معلومات بالكلية.</li>
                <li> &nbsp;&nbsp;&nbsp; عدد 4 صور شخصيه.</li>
                <li> &nbsp;&nbsp;&nbsp; ملف للحفظ.</li>
                <li> &nbsp;&nbsp;&nbsp; تقديرات السنوات الأربعة للبكالوريوس.</li>
                <li> &nbsp;&nbsp;&nbsp; الدبلوم أو التمهيدى قبل الماجستير</li>
            </ol>
            <p>بعد استيفاء المستندات والاوراق المطلوبة يتم إستيفاء استمارة المعلومات من (اصل + 3 صورة) موقعاً عليها من الطالب.</p>
            <p>إرفاق صورة من موافقة السفارة على دراسة الطالب بالكلية المراد الدراسة بها موضحاً بها جهة التمويل للدراسة والعام الجامعى المراد الدراسة به والدرجة العلمية المراد الدراسة فيها .  على الكليات إرسال إستمارات بيانات الطلاب لادارة الدراسات العليا بالجامعة وهى كالاتى</p>

            <div class="h6"><strong>المستندات المطلوبة للطلاب الوافدين:-</strong></div>
            <ol>
                <li> &nbsp;&nbsp;&nbsp; شهادة البكالوريوس المؤقته بالتقدير المطلوب للمتقدمين للقيد بالدبلوم أو الماجستير.</li>
                <li> &nbsp;&nbsp;&nbsp; شهادة الماجستير المؤقته بالتقدير المطلوب (للمتقدمين للدكتوراه) .</li>
                <li> &nbsp;&nbsp;&nbsp; بيان بدرجات الطالب خلال سنوات الدراسة .</li>
                <li> &nbsp;&nbsp;&nbsp; شهادة الميلاد أو المستخرج رسمى منها .</li>
                <li> &nbsp;&nbsp;&nbsp; صورة بطاقة تحقيق الشخصية "الرقم القومى" .</li>
                <li> &nbsp;&nbsp;&nbsp; عدد 6 صور شخصية مقاس 4x6 سم .</li>
                <li> &nbsp;&nbsp;&nbsp; موافقة جهة العمل على القيد و الدراسة .</li>
                <li> &nbsp;&nbsp;&nbsp; موافقة جهة العمل على التفرغ للدراسة للعاملين بالحكومة أو قطاع الأعمال إذا كانت الدراسة تحتاج للتفرغ (أوحسب نص اللائحه الداخلية للكلية) .</li>
                <li> &nbsp;&nbsp;&nbsp; شهادة الموقف من التجنيد (مؤجل / معافى مؤقت/ معفى نهائياً) .</li>
                <li> &nbsp;&nbsp;&nbsp; موافقة القوات المسلحة "للمجندين" .</li>
                <li> &nbsp;&nbsp;&nbsp; موافقة شئون الضباط (إذا كان المتقدم للقيد ضابط بالقوات المسلحة أو ضابط شرطة) .</li>
            </ol>
        </div>

    </div>
</div>

<!-- end section artical faculty president -->

<div class="clear"></div>

<!-- start section faculty social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section faculty social media  -->

<div class="container">
    <div class="driv"></div>
</div>

<div class="convert-page">
    <div class="container">
        <ul>
            <li>
                <a routerLink="/academic-affairs/postgraduate-programs/admission-date"><i class="fas fa-arrow-right"></i>التالي</a>
            </li>
            <li>
                <a routerLink="/academic-affairs/postgraduate-programs/postgraduate-bylaws">السابق<i class="fas fa-arrow-left"></i></a>
            </li>
        </ul>
    </div>
</div>

<app-scroll></app-scroll>

<app-footer></app-footer>
