<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">عن الكلية</a></li>
                <li class="breadcrumb-item"><a routerLink="/about/info/university-goals">اهداف الكلية</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical university president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                اهداف الكلية الاستراتيجية
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <ol>
                <li>&nbsp;&nbsp; رفع مهارات خريج الكلية وزيادة القدرة التنافسية للطلاب والباحثين.</li>
                <li>&nbsp;&nbsp; تنمية قدرات ومهارات أعضاء هيئة التدريس والهيئة المعاونة وتحسين الخدمات المقدمة لهم.</li>
                <li>&nbsp;&nbsp; تطوير المناهج الدراسية وتحديثها بصورة مستمرة بما يتماشى مع التقدم العلمي واحتياجات سوق العمل </li>
                <li>&nbsp;&nbsp; المساهمة في ايجاد حلول لأزمة التعليم المحلية و العالمية</li>
                <li>&nbsp;&nbsp;  ستقطاب الباحثين ذوى الشهرة العالمية إلى مصر</li>
                <li>&nbsp;&nbsp; رفع مستوي الدخل القومي للسياحة من خلال بناء نماذج الحاسوبية ذكية </li>
                <li>&nbsp;&nbsp; تفاعل الكلية مع المجتمع والبيئة، وتدعيم الشراكة مع مؤسسات المجتمع المدني وتعزيز المشاركة المجتمعية باستقراء الاحتياجات المتجددة للمجتمع واستهدافها بالخدمات الاستشارية</li>
                <li>&nbsp;&nbsp; تطوير البحث العلمي ودعمه وتسويقه واستثماره في تعزيز الخدمات العامة والحكومية المحلية والإقليمية</li>
                <li>&nbsp;&nbsp; الالتزام بتطبيق معايير الجودة المحلية و العالمية وتقييم القدرة المؤسسية والفاعلية التعليمية</li>
                <li>&nbsp;&nbsp; الإسهام بشكل فعال في بناء التنمية المستدامة انطلاقا من رؤية الدولة 2030 وما يليها من خطط</li>
                <li>&nbsp;&nbsp; تدريب الكوادر الفنية فى قطاعات الدولة المختلفة على تكنولوجيا الحاسبات والمعلومات</li>
            </ol>
        </div>
    </div>
</div>

<!-- end section artical university president -->

<!-- start section university social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section university social media  -->

<div class="container">
    <div class="driv"></div>
</div>




<app-scroll></app-scroll>

<app-footer></app-footer>
