<app-header></app-header>


<!-- start section breadcrumb -->

<div class="breadcrumb-top" style="background-image: url(../../../../assets/photo/أبرز_استخدامات_البوصلة.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0);">عن الجامعة</a></li>
                <li class="breadcrumb-item"><a routerLink="/about/site-map">خريطة الموقع</a></li>
            </ol>
        </nav>
    </div>
</div>

<!-- end section breadcrumb -->

<!-- start section artical faculty president -->

<div class="system-message">
    <div class="container">
        <div class="message-title">
            <h2>
                خريطة الموقع
            </h2>
            <ul>
                <li><a href="javascript:void(0);">المعلومات info </a></li>
                <li><span>  13 ديسمبر 2020</span></li>
                <li><i class="fa fa-eye"></i>الزيارات<span class="space">15327</span></li>
            </ul>
        </div>
        <div class="contain-message">
            <div class="h3">القائمة الرئيسية</div>
            <div style="margin-right: 20px;">
                <ul class="menu">
                    <li>
                      <a routerLink="">الرئيسية</a>
                    </li>

                    <li>
                        عن الجامعة
                        <ul class="supermenu">
                            <li>
                                تاريخ وحقائق
                                <ul class="submenu">
                                    <li><a routerLink="/about/info/faculty-president">كلمة رئيس الجامعة</a></li>
                                    <li><a routerLink="/about/info/history">تاريخ الجامعة</a></li>
                                    <li><a routerLink="/about/info/facts">حقائق وأرقام</a></li>
                                    <li><a routerLink="/about/info/faculty-vision">رؤية الجامعة</a></li>
                                    <li><a routerLink="/about/info/faculty-message">رسالة الجامعة</a></li>
                                    <li><a routerLink="/about/info/faculty-goals">أهداف الجامعة</a></li>
                                    <li><a routerLink="/about/info/faculty-ranking">ترتيب الجامعة بين جامعات العالم</a></li>
                                </ul>
                            </li>
                            <li><a routerLink="/about/conferences">المؤتمرات</a></li>
                            <li><a routerLink="/about/connect">بيانات الاتصال</a></li>
                            <li><a routerLink="/about/ask-faculty-president">اسأل رئيس الجامعة</a></li>
                            <li><a routerLink="/about/contact">تواصل معنــا</a></li>
                            <li><a routerLink="/about/privacy-policy">سياسة الخصوصية</a></li>
                            <li><a routerLink="/about/site-map">خريطة الموقع</a></li>
                            <li><a routerLink="/about/facing-corona">جامعة الاقصر في مواجهة كورونا</a></li>
                        </ul>
                    </li>

                    <li>
                      الطـــلاب
                      <ul class="supermenu">
                          <li><a routerLink="/academic-affairs/colleges">كليات ومعاهد الجامعة </a></li>
                          <li><a href="https://alzahraa.mans.edu.eg/" target="_blank">المدينة الجامعة</a></li>
                          <li><a routerLink="/result">نتائج الامتحانات</a></li>
                      </ul>
                    </li>

                    <li>
                      البحث العلمي
                      <ul class="supermenu">
                          <li><a routerLink="/Research/libraries">المكتبة المركزية </a></li>
                          <li><a routerLink="/Research/scientific-journals">مجلة الجامعة </a></li>
                          <li><a routerLink="/Research/workshops">ورش عمــــــــــــــل</a></li>
                          <li><a routerLink="/Research/sector-news">اخبار وأحداث القطاع</a></li>
                          <li><a routerLink="/Research/scientific-messages">الرسائــــل العلميــة</a></li>
                          <li><a routerLink="/Research/scientific-awards">جوائز البحث العلمي</a></li>
                      </ul>
                    </li>

                    <li>
                        الشئون الاكاديمية
                        <ul class="supermenu">
                          <li><a href="/academic-affairs/login">الخدمات الالكترونية</a></li>
                          <li><a href="/academic-affairs/electronic-services">الخدمات العامة</a></li>
                        </ul>
                    </li>

                    <li>
                      <a routerLink="/academic-affairs/postgraduate-program">الخريجون والدرسات العليا</a>
                    </li>

                    <li>
                      <a routerLink="/faculty-journal">مجلة الجامعة</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<!-- end section artical faculty president -->


<!-- start section faculty social media  -->

<div class="social-media">
    <div class="container">
        <ul>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                    linkedin
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/" target="_blank">
                    <i class="fab fa-youtube fa-lg"></i>
                    youtube
                </a>
            </li>
            <li>
                <a href="https://www.pinterest.com/" target="_blank">
                    <i class="fab fa-pinterest fa-lg"></i>
                    pinterest
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                    instagram
                </a>
            </li>
            <li>
                <a href="https://twitter.com/" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                    twitter
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                    facebook
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- end section faculty social media  -->


<div class="container">
    <div class="driv"></div>
</div>

<div class="convert-page">
    <div class="container">
        <ul>
            <li>
                <a routerLink="/about/facing-corona"><i class="fas fa-arrow-right"></i>التالي</a>
            </li>
            <li>
                <a routerLink="/about/ask-faculty-president">السابق<i class="fas fa-arrow-left"></i></a>
            </li>
        </ul>
    </div>
</div>


<app-scroll></app-scroll>

<app-footer></app-footer>
