.box{
    background-color: rgb(243, 242, 242);
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(2,auto);
    gap: 10px;
}

.box .right{
    grid-area: 1/1/1/1;
}

.box .info{
    grid-area: 1/4/1/4;
}

.box .young{
    grid-area: 2/2/2/2;
}

.box .affairs{
    grid-area: 2/3/2/3;
}

.box .info .yourName{
    width: 250px;
}

.box .photo{
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 20px auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.box .photo:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

.box .photo img{
    width: 100%;
    height: 100%;
}

.box .yourName{
    text-align: center;
    text-transform: capitalize;
    color: #968B87;
}

.box button{
    width: 225px;
    height: 50px;
    margin: 20px;
    border: none;
    outline: none;
    background-image: linear-gradient(to right,#7A2A26,#968B87);
    color: #FFF;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.box button:hover{
    background-image: linear-gradient(to left,#7A2A26,#968B87);
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}
