<app-header></app-header>

<div class="profile">
    <div class="container">
        <div class="box">
            <div class="info">
                <div class="photo">
                    <img src="../../../../assets/photo/37fwNOPW_400x400.jpg" alt="صورة شخصية">
                </div>
                <div class="yourName">
                    <h3>ahmed masnour</h3>
                </div>
            </div>
            <div class="right">
                <button>
                    طلبات قيد المراجعة
                </button>
                <button>
                    طلبات جاريه
                </button>
                <button>
                    طلبات جاربه
                </button>
            </div>
            <button class="young">
                رعاية الشباب
            </button>
            <button class="affairs">
                شئون الطلاب
            </button>
        </div>
    </div>
</div>

<app-scroll></app-scroll>

<app-footer></app-footer>